@import "tailwindcss";

@theme inline {
  --color-primary: #00BFA5;
  --color-secondary: #FFD54F;
  --color-tertiary: #263238;
  --color-neutral: #F3F4F6;
  --font-sans: var(--font-inter);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}